.panel.searchform {
    padding:    10px;
    background: #ececec;
    position:   relative;

    .row {
        padding: 0 10px;

        .intertext {
            padding: 0;
            text-align: center;
        }

        &.search-actions {
            border-top:  1px solid #d8dbdc;
            padding-top: 10px;
            margin-top: 1rem;

            a {
                font: {
                    size:   0.75rem;
                    weight: 600;
                }
                line-height:   1.5;
                border-bottom: none;
            }

            button {
                font-size:   0.75rem;
                margin-left: 10px;
            }
        }

        dl.tabs {
            display: inline-block;
            margin: 0 0.5rem !important;
            vertical-align: middle;
        }
    }
}
