spsui-pagination-footer {

  /* TODO: replace _sps_pagination.scss in web ui core with this when we move in the pagination-footer */
  .pagination {
    padding: .625rem 0;
    font-weight: 400;
    height: 28px;
    margin-bottom: 0;

    .fa {
      font-weight: 900;
      font-size: .9rem;
    }

    .inline-list, select, input {
      margin: 0;
    }

    a {
      border-bottom: none;
    }

    input[type=number] {
      height: 28px;
      width: 2.8rem;
      text-align: center;
      line-height: initial;
      padding: 0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    select {
      height: 28px;
      padding: 0 1.6rem 0 .625rem;
      width: auto;
      line-height: initial;
    }
    .page-size-container:after{
      content: "";
      height: 28px;
      position: absolute;
      right: 28px;
      top: 0;
    }

    div, ul, li{
      font-size: .75rem;
      line-height: 28px;
    }

    ul li {
      margin-left: .25rem;
    }
  }

}
